.kanit {font-family: 'Kanit', sans-serif;}

footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #3E4551;
    color: #fff;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

footer.page-footer a {
    color: #fff;
}

footer.page-footer .title {
    text-transform: uppercase;
    font-weight: bold;
}

footer.page-footer .call-to-action {
    text-align: center;
    padding-top: 1.3rem;
    padding-bottom: 0.5rem;
}

footer.page-footer .call-to-action ul li {
    display: inline-block;
    padding-right: 10px;
}

footer.page-footer .social-section {
    text-align: center;
}

footer.page-footer .social-section ul li {
    display: inline-block;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
}
h5,
h6 {
    font-weight: 400;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}